@media (min-width: 768px) {
    .highlight-text p {
        font-size: 18px;
      }
      #features .icon-large i {
        font-size: 15rem;
       
      }
      .input-group {
        width: 66%;
      }

      .mob-logo {
        width: 66%;
    }
}