@media (min-width: 768px) {
    .highlight-text p {
        font-size: 18px;
      }
      #features .icon-large i {
        font-size: 15rem;
       
      }
      .input-group {
        width: 36%;
      }

      .mob-logo {
        width: 66%;
    }
    .partner-svg {
      padding: 0;
    }

    

    .inner-banner-img {
      display: block;
    }
    .logo-container-footer {
      margin-top: 3rem;
    }
    
}