@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// fonts
$font: 'Poppins', sans-serif;

// Colour
$primaryColor: #12609d;
$primaryColor30: rgba(18,96,157, 0.3);
$primaryColor60: rgba(18,96,157, 0.6);
$lightColor: #F3F6F9;
$darkColor: #0A3A5E;
$blackColor: #384046;
// $accentColor: #020ad1;
$accentColor: #007bff;
$triadsColor: #2B827E;
$sdcepColor: #3B2E63;